@import "./variables";
@import "./mixin";

@include desktop {
    #header{
        position: relative;
        width: calc(100vw - 60px);
        height: $headerHeight;
        margin-bottom: $headerBottomMargin;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        @include out-shadow(0px, 0px, 15px, 0px, #CDCDCD);
        .logoWarp{
            @include flex-center;
            img{
                @include cover-img(50px, 50px)
            }
            .title{
                margin-left: 20px;
                span {
                    font-size: 25px;
                    font-family: "NanumSquare";
                    font-weight: 800;
                }
            }
        }
    }

    #drawer{
        width: $drawerWidth;
        .menuList{
            width: $drawerWidth;
            margin-top: 30px;
            .avatarWarp{
                .avatar{
                    margin-right: 20px;
                }
                span{
                    font-size: 18px;
                    font-family: "NanumSquare";
                    font-weight: 800;
                }
            }
            .menu{
                div{
                    font-family: "NanumSquare";
                    font-weight:800;
                    font-size: 20px;
                }
            }
        }
    }

    #footer{
        position: relative;
        width: 100vw;
        height: $footerHeight;
        padding: $footerYpadding 0px;
        @include flex-center;
        @include out-shadow(0px, 0px, 15px, 0px, #CDCDCD);
        span{
            font-size: 12px;
            font-family: "NanumSquare";
            font-weight: 700;
        }
    }
    #private-policy{
        padding-top: 5vh;
        .profileimg{
            @include flex-center;
            img{
                @include cover-img(20vw, 20vw);
                border-radius: 50%
            }
        }
        .content{
            padding: 0px 5vw;
        }
    }

    div.main{
        @include flex-center($justifyContent:flex-start, $direction: column);
        @include contentHeight;
        background: $background;
    }

    div.PostCard{
        margin: 20px 0px;
        width: 100%;
        height: 20vh;
        @include flex-center($justifyContent:space-around, $direction:column);
        .PostContent{
            @include flex-center($justifyContent:flex-start);
            padding: 2.5vh 6vh;
            .PostImage{
                height: 15vh;
                width: 15vh;
                img{
                    @include cover-img(15vh, 15vh);
                }
            }
            .PostInfo{
                @include flex-center($justifyContent:space-around, $alignItems:flex-start, $direction:column);
                min-width: calc(100% - 15vh - 20px);
                max-width: calc(100% - 15vh - 20px);
                margin-left: 20px;
                font-family: "NanumSquare";
                .title{
                    @include ellipsis;
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: 7px;
                    font-size: 25px;
                    font-weight: 800;
                }
                .description{
                    @include ellipsis($line:2);
                    width: 100%;
                    margin-top: 7px;
                    margin-bottom: 30px;
                    font-size: 18px;
                }
                .time{
                    align-self: flex-end;
                    font-size: 14px;
                    color: #9c9c9c;
                    font-weight: 700;
                }
            }
        }
    }

    #home{
        #profileContainer{
            padding: 50px;
            @include flex-center;
            .profileImage{
                @include cover-img(20vw, 20vw);
                border-radius: 15vw;
            };
            .profile{
                margin-left: 5vw;
                @include flex-center($alignItems:flex-start, $direction: column);
                font-family: "NanumSquare";
                font-size: 20px;
                div{
                    margin: 10px;
                    span{
                        font-weight: 800;
                    };
                    a{  
                        padding: 3px 12px;
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        border-radius: 10px;
                        transition: all 0.2s ease-in-out;
                        position: relative;
                        overflow: hidden;
                    }
                    a:before {
                        content: "";
                        background-color: rgba(255,255,255,0);
                        height: 100%;
                        width: 30px;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -45px;
                        transform: skewX(-45deg) translateX(-10px);
                        transition: none;
                    }
                    a:hover {
                        background-color: $keycolor2;
                        color: #fff;
                    }
                    a:hover:before {
                        background-color: rgba(255,255,255,0.4);
                        transform: skewX(-45deg) translateX(300px);
                        transition: all 0.5s ease-in-out;
                    }
                }
                .snsList{
                    @include flex-center($justifyContent:space-around);
                    width: 100%;
                    transition: all 0.2s ease-in-out;
                    .icon{
                        color: black;
                        font-size: 40px;
                    }
                    .icon:hover{
                        color: $keycolor2;
                    }
                }
            }
        }
        .mainPosts{
            width: 80%;
            margin-bottom: 50px;
            .titleWrap{
                @include flex-center($justifyContent:space-between);
                font-family: "NanumSquare";
                h1{
                    font-size: 35px;
                    font-weight: 800;
                }
                .more{
                    font-size: 15px;
                    font-weight: 700;
                    color: #4d4d4d;
                }
            }
            .PostWarp{
                @include flex-center($justifyContent:flex-start, $direction:column);
            }
        }
    }
    #post{
        .seriesContainer{
            width: 80%;
            margin-top: 50px;
            @include flex-center($alignItems:flex-start, $direction:column);
            overflow: hidden;
            h1{
                font-size: 35px;
                font-weight: 800;
                font-family: "NanumSquare";
            }
            .seriesWrap{
                @include scrollable;
                ul{
                    margin-top: 0px;
                    div.seriesCard:first-child{
                        margin-left: 5px;
                    }
                    div.seriesCard:last-child{
                        margin-right: 5px;
                    }
                }
                .seriesCard{
                    height: 360px;
                    width: 250px;
                    margin: 20px;
                    .seriesContent{
                        height: 100%;
                        img{
                            margin: 10px;
                            @include cover-img(230px, 230px);
                            border-radius: 10px;
                        }
                        .seriesInfo{
                            @include flex-center($alignItems:flex-start, $direction:column);
                            span{
                                font-family: "NanumSquare";
                            }
                            .title{
                                @include ellipsis;
                                font-weight: 800;
                                font-size: 20px;
                                margin-bottom: 5px;
                            }
                            .description{
                                color: #4d4d4d;
                                font-weight: 700;
                                font-size: 16px;
                                margin-bottom: 5px;
                                height: 36px;
                                @include ellipsis($line:2);
                            }
                            .count{
                                align-self: flex-end;
                                color: #4d4d4d;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .mainPosts{
            width: 100%;
            margin-bottom: 50px;
            margin-top: 100px;
            @include flex-center($direction:column);
            .titleWrap{
                font-size: 35px;
                font-weight: 800;
                width: 100%;
                font-family: "NanumSquare";
            }
            .PostWarp{
                @include flex-center($justifyContent:flex-start, $direction:column);
                width: 100%;
            }
            .postPagination{
                margin: 20px 0px;
            }
        }
    }
}